@import "../../styles/partials/index.scss";

.container {
  height: 520px;
  position: relative;
}

@media only screen and (max-width: 1800px) {
  .img1 {
    font-size: 70px;
    margin-left: 35px;
    color: $app-grey-dark-1;
  }
  .center {
    margin-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 700px) {
  .img1 {
    font-size: 50px;
    margin-left: 40px;
    color: $app-grey-dark-1;
  }
  .center {
    margin-top: 70px;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
