// App Font family
$app-primary-font: 'Montserrat', sans-serif;
$app-secondary-font: 'Montserrat', sans-serif;

// App Font Weight
$app-font-weight-regular: 400;
$app-font-weight-medium: 500;
$app-font-weight-semibold: 600;
$app-font-weight-bold: 700;

// App Font Sizes
$app-font-size-sm: 12px;
$app-font-size-md: 14px;
$app-font-size-lg: 16px;
$app-font-size-xl: 20px;
