@import "../../styles/partials/index.scss";

.login-signup-modal {

  h2 {
    margin-bottom: 20px;
  }

  .nav-tabs {
    .nav-item {
      flex: 0 0 50%;
      text-align: center;
      font-weight: $app-font-weight-semibold;
      border-radius: 0;
      color: $app-black-color;

      &.active {
        color: $app-primary-color;
        border-bottom: 3px solid $app-primary-color;
      }
    }
  }

  label {
    font-size: $app-font-size-md;
    font-weight: $app-font-weight-medium;
  }

  .form-control {
    font-size: $app-font-size-md;
    color: $app-black-color;
  }

  .modal-body {
    padding: 0;

    .tab-content {
      padding: 30px 40px 50px;
    }
  }
}

#error-msg {
  color: $app-error-color;
  font-size: 10px;
}
